<div class="wrapper-login">
  <div class="login">
    <div class="left-login">
      <div class="left-login--body">
        <span class="description-login"> Iniciar Sesión </span>
        <form class="grid" autocomplete="off" [formGroup]="loginForm">
          <div class="col-12">
            <div class="form-container">
              <div class="form-group">
                <label class="form-label" for="email">Correo electrónico</label>
                <input
                  id="email"
                  type="text"
                  appMessageErrors
                  formControlName="user_email"
                  placeholder="Nombre de usuario"
                  class="form-input"
                />
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-container">
              <div class="form-group">
                <label class="form-label" for="password">Contraseña</label>
                <input
                  id="password"
                  type="password"
                  appMessageErrors
                  formControlName="user_password"
                  placeholder="Contraseña"
                  class="form-input"
                />
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="btn" (click)="sendLoginAuth()">
              Iniciar sesión
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
