<div class="wrapper-product-edit">
  <span class="title-product"
  >{{ this.data ? "¡Edita tu producto!" : "¡Registra tu producto!" }}
  </span>
  <form class="grid" autocomplete="off" [formGroup]="productForm">
    <div class="col-12">
      <div class="form-container">
        <div class="form-group">
          <label class="form-label" for="name">Nombre del producto</label>
          <input
            id="name"
            type="text"
            appInputMask="alphaNumericAccents"
            appTrim
            appMessageErrors
            formControlName="title"
            placeholder="Digite el nombre del producto"
            class="form-input"
          />
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-container">
        <div class="form-group">
          <label class="form-label" for="description"
          >Descripción del producto</label
          >
          <input
            id="description"
            appInputMask="alphaNumericAccents"
            type="text"
            appTrim
            appMessageErrors
            formControlName="description"
            placeholder="Digite la descripción del producto"
            class="form-input"
          />
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-container">
        <div class="form-group">
          <label class="form-label" for="price">Precio del producto</label>
          <input
            id="price"
            type="number"
            appInputMask="float"
            appTrim
            appMessageErrors
            formControlName="price"
            placeholder="Digite el precio del producto"
            class="form-input"
          />
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-g" (click)="sendDataRegisterProduct()">
        {{ this.data ? "Editar producto" : "Registrar producto" }}
      </button>
    </div>
  </form>
</div>
